/* Steve Zissou theme

deepskyblue: #01abe9; hsl(196,99,45)
midnightblue: #1b346c; hsl(208,100,23)
orangered: #f54b1a; hsl(13,91,53)
burlywood: #e5c39e; hsl(31,57,75)
lightgray: #c3ced0; hsl(189,12,79) */